@page "{argsearch?}/{argvalue?}/{playlistname?}"
@model WebApp.Pages.BulkProcessModel
@{
}
@section CustomCSS{
    <partial name="_TwoColumn" />
}

<h1>OLTP: Playlist Maintenance</h1>

<p>
    Search by @Model.argsearch on the value @Model.argvalue  &nbsp;&nbsp;
    <a href="/BulkProcessQuery"> return to search ....</a>
</p>
@if (Model.HasFeedBack)
{

    <blockquote class="success">@Model.FeedBackMessage</blockquote>
}

@if (Model.HasError)
{
    <blockquote class="error">@Model.ErrorMessage</blockquote>
}
@*<form method="post" id="oltp" >
</form>*@


<section class="setflex">
    <div class="bighalfpage">
        @if (Model.trackInfo != null)
        {
            if (Model.trackInfo.Count() == 0)
            {
                <p style="color:blue; font-weight:bold;">This search finds no tracks on file.</p>

            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <td></td>

                            <th>Song</th>
                            <th>Album</th>
                            <th>Artist</th>
                            <th>Length</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.trackInfo)
                        {
                            <tr>
                                <td width="70px" class="setflex">

                                    <form method="post" id="oltp">
                                        <input type="hidden" value="@item.TrackId"
                                               asp-for="addtrackid" />
                                        <button type="submit" title="Add this track"
                                                asp-page-handler="AddTrack">
                                            <i class="las la-plus"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.AlbumTitle</td>
                                <td>@item.Composer</td>
                                <td>@item.RunningTime.ToString(@"mm\:ss")</td>
                                <td>@item.UnitPrice</td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                @{
                                    foreach (var pageRef in Model.Pager)
                                    {
                                        // I can use the == because of PageRef type being a C# 9 record type
                                        if (pageRef == Model.Pager.CurrentPage)
                                        {
                                            <b>@pageRef.Text</b>
                                        }
                                        else
                                        {
                                            <a title="Page @pageRef.Page" asp-page="/BulkProcess"
                                               asp-route-currentpage="@pageRef.Page">@pageRef.Text</a>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    </tfoot>
                </table>
            }
        }
    </div>
    <div class="smallhalfpage">
        <form method="post" id="playlist">
            
            <label>
                Enter playlist name:
                <input type="text" asp-for="playlistname"  />

            </label>
            <br />
            <button tye="submit" title="Retreive Playlist" 
                    asp-page-handler="Fetch" >
                Fetch
            </button>
            <button tye="submit" title="Retreive Playlist"
                    asp-page-handler="Remove"
                    style="background-color:var(--danger-color)">
                Remove Tracks
            </button>
            <br /><br />
            @if (Model.pltrackInfo != null)
            {
                if (Model.pltrackInfo.Count() == 0)
                {
                    <p style="color:blue; font-weight:bold;">
                        This playlist is empty or does not exist. Adding a Track will create the playlist.
                    </p>
                }
                else
                {
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Trk #</th>
                                <th>Song</th>
                                <th>Length</th>
                                <th>X to remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.pltrackInfo)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" name="ctrackInfo.Index" value="@item.TrackId" />
                                        <input type="hidden"
                                               value="@item.TrackId"
                                               name="ctrackInfo[@item.TrackId].TrackId" />
                                        <input type="checkbox"
                                               name="ctrackInfo[@item.TrackId].SelectedTrack" />

                                    </td>
                                    <td>@item.TrackNumber</td>
                                    <td>@item.Name</td>
                                    <td>@item.RunningTime.ToString(@"mm\:ss")</td>
                                    <td>
                                        <input type="text" class="smallbox"
                                               name="ctrackInfo[@item.TrackId].InputData" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </form>
    </div>
</section>
